  * { margin: 0; padding: 0; box-sizing: border-box; }
  body {padding-top: 80px;}

  .axis text {
    font: 10px sans-serif;
  }
  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
